.background{
    width: 393px;
    height: 852px;
    position: relative;
    background: #171717
}

.start-end-text{
    width: 171px;
    height: 38px;
    left: 74px;
    top: 144px;
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: Pretendard;
    font-weight: 700;
    word-wrap: break-word"
}