<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='subway-DT.css') }}" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>FlowRail DT</title>
            </head>
            <body>

                <form action = "/getsearch" method="post">
                <input type="text" id="searchInput" name="stationName" placeholder="입력">
                <button type="submit">검색</button>